/* Navigation */
.nav {
    background-color: black;
    color: white;
    min-height: 5vh;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1000;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    margin: 0;
    width: 50vw;
}
.nav-links li {
    margin: 1vh;
    padding: 1vh;
}
.nav-links li:hover {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
/* General */
a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
a:hover {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
p {
    font-size: 16px;
}
img {
    width: 100%;
}
.logos {
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    margin-right: 20px;
}

.project, .about, .contact {
    min-height: 100vh;
    border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-bottom: 0;
}
.container {
    width: 100%;
}
/* JumboTron */
.jumbotron {
    height: 100vh;
    background-image: url("assets/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-bottom: 0;
}
.lead {
    margin-bottom: 0;
}
.hello {
    background-color: black;
    color: white;
    margin-top: 10vh;
}
.hello-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 400px;
}
/* Projects backgrodun */
.project {
    background-image: url("assets/structure.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* Section rules  */
.gap {
    height: 12vh;
}
.section-title {
    background-color: black;
    color:white;
}
.padded {
    margin: 15px;
    min-width: 300px;
    max-width: 450px;
}

.about {
    background-image: url("assets/pier.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.text {
    color: white;
    text-shadow: 1px 1px black;
    height: 230px; 
}

.contact {
    background-image: url("assets/flight.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    background-color: black;
    color: lightgray;
    text-align: center;
    font-size: 8px;
}
