body {
  font-family: Helvetica, sans-serif;
  background-image: url("assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* Navigation */
.nav {
  background-color: black;
  color: white;
  min-height: 5vh;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1000;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  margin: 0;
  width: 50vw;
}
.nav-links li {
  margin: 1vh;
  padding: 1vh;
}
.nav-links li:hover {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
/* General */
a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
a:hover {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
p {
  font-size: 16px;
}
img {
  width: 100%;
}
.logos {
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  margin-right: 20px;
}

.project,
.about,
.contact {
  min-height: 100vh;
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: black;
  margin-bottom: 0;
}
.container {
  width: 100%;
}
/* Top */
.lead {
  margin-bottom: 0;
  padding-top: 20vh;
  height: 100vh;
  font-family: Georgia, times new roman, Times, serif;
}
.hello {
  background-color: black;
  color: white;
  margin-top: 10vh;
  min-height: 190px;
  text-align: center;
}
#intro {
  color: rgba(200, 200, 200);
}
.headshot {
  height: 10vh;
  width: 10vh;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 50%;
  padding: 2vw;
  text-align: center;
  margin: auto;
  line-height: 7vh;
  font-size: 7vh;
  font-weight: 700;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.headshot:hover {
  background-color: rgb(200, 50, 100);
}

.arrow {
  width: 4vh;
  height: 4vh;
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.hello-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 400px;
  text-align: center;
}
.contact-logos {
  background-color: black;
  padding: 10px;
  justify-content: space-evenly;
}
#mail {
  background-color: white;
  padding: 8px;
  border-radius: 50%;
}

/* Projects backgrodun */
.project {
  color: black;
}
.project .row .text {
  background-color: rgba(0, 0, 0, 0.2);
}
/* Section rules  */
.gap {
  height: 12vh;
}
.section-title {
  background-color: black;
  color: white;
}
.padded {
  margin: 15px;
  min-width: 300px;
  max-width: 450px;
}

.about {
  color: white;
}
.text {
  color: black;
  font-weight: 700;
  height: 230px;
}

.contact {
}

.footer {
  background-color: black;
  color: lightgray;
  text-align: center;
  font-size: 8px;
}
